node_modules
var
vendor
dist
build
.DS_Store
*.log
*.env
*.cache
*.tmp
*.bak
*.swp
*.swo
*.zip
*.tar.gz
*.7z
*.exe
*.dll
*.so
*.dylib
*.pyc
*.pyo
*.class
*.jar
*.war
*.ear
*.iml
.idea
.vscode
*.sublime-project
*.sublime-workspace